@-webkit-keyframes deep__fadeIn___2QhjF {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes deep__fadeIn___2QhjF {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes deep__fadeInDown___HV-oc {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes deep__fadeInDown___HV-oc {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.deep__fadeIn___2QhjF {
  -webkit-animation: deep__fadeIn___2QhjF 1s ease-in-out;
          animation: deep__fadeIn___2QhjF 1s ease-in-out;
}



.deep__header___1Jxat{
  font-family: Helvetica neue;
  font-size:36px;
  font-weight: 100;
  text-align:center;
  width:500px;
  margin: 0 auto;
  padding-top:50px;
}


.deep__fadeInDown___HV-oc {
  -webkit-animation: deep__fadeInDown___HV-oc 1s ease-in-out;
          animation: deep__fadeInDown___HV-oc 1s ease-in-out;
}


@media(max-width:500px){
  .deep__header___1Jxat{
    width:70%;
  }
}

.deep__caseNumber___3Xd_S{
  width:100%;
  font-family: Helvetica neue;
  height:30px;
  font-size:16px;
  font-weight: 300;
  border-radius: 3px;
  border: 1px solid #c8c8c8;
  padding-left: 10px;
  margin-bottom: 50px;
}

.deep__step2_header___jf0TR{
  font-size:21px;
  font-family: Helvetica neue;
  font-weight: 300;
}

.deep__subtitle___17R4O{
  font-family: Helvetica neue;
  padding-top: 10px;
  padding-bottom:10px;
  font-size:12px;
  width:360px;
  margin:0 auto;
  text-align:center;
  font-weight: 300;
}

.deep__firstName___1VtZ_{
  font-family: Helvetica neue;
  width:40%;
  height:30px;
  font-size:16px;
  font-weight: 300;
  border-radius: 3px;
  border: 1px solid #c8c8c8;
  padding-left: 10px;
  text-transform: capitalize;

}


.deep__city___265WL{
  font-family: Helvetica neue;
  width:40%;
  height:30px;
  font-size:16px;
  border-radius: 3px;
  font-weight: 300;
  border: 1px solid #c8c8c8;
  padding-left: 10px;
  text-transform: capitalize;
  margin-top: 10px;
}


.deep__middleInitial___3JTXx{
  width:10%;
  height:30px;
  font-size:16px;
  border-radius: 3px;
  font-weight: 300;
  border: 1px solid #c8c8c8;
  margin-left: 10px;
  margin-right:10px;
  padding-left: 10px;
  text-transform: capitalize;

}

.deep__state___1Zusv{
  width:10%;
  height:30px;
  font-size:16px;
  border-radius: 3px;
  font-weight: 300;
  border: 1px solid #c8c8c8;
  margin-left: 10px;
  margin-right:10px;
  padding-left: 10px;
  text-transform: capitalize;

}

.deep__lastName___34N8Y{
  font-family: Helvetica neue;
  width:40%;
  height:30px;
  font-size:16px;
  border-radius: 3px;
  font-weight: 300;
  border: 1px solid #c8c8c8;
  padding-left: 10px;
  text-transform: capitalize;

}

.deep__zipCode___3tstS{
  font-family: Helvetica neue;
  width:40%;
  height:30px;
  font-size:16px;
  border-radius: 3px;
  font-weight: 300;
  border: 1px solid #c8c8c8;
  padding-left: 10px;
  text-transform: capitalize;

}


.deep__streetAddress___1ZWqA{
  font-family: Helvetica neue;
  width:98%;
  height:30px;
  font-size:16px;
  border-radius: 3px;
  font-weight: 300;
  border: 1px solid #c8c8c8;
  padding-left: 10px;
  text-transform: capitalize;
  margin-top: 10px;
}

.deep__phoneNumber___xv54j{
  font-family: Helvetica neue;
  width:98%;
  height:30px;
  font-size:16px;
  border-radius: 3px;
  font-weight: 300;
  border: 1px solid #c8c8c8;
  padding-left: 10px;
  text-transform: capitalize;
  margin-top: 10px;
}

@media(max-width:776px){
  .deep__firstName___1VtZ_{
    width:75%;
  }
  .deep__city___265WL{
    width:75%;
  }
  .deep__middleInitial___3JTXx{
    width:17%;
    margin-right: 0px
  }
  .deep__lastName___34N8Y{
    width:96%;
    margin-top:10px;
  }
  .deep__zipCode___3tstS{
    width:96%;
    margin-top:10px;
  }
  .deep__state___1Zusv{
    width:17%;
    margin-right: 0px;
  }

  .deep__streetAddress___1ZWqA{
    width:96%;
    margin-top:10px;
  }
}

@media(max-width:600px){
  .deep__middleInitial___3JTXx{
    width:16%;
  }
  .deep__state___1Zusv{
    width:16%;
  }
  .deep__lastName___34N8Y{
    width:97%;
  }
  .deep__zipCode___3tstS{
    width:97%;
  }
}

@media(max-width: 530px){
  .deep__middleInitial___3JTXx{
    width:15%;
  }
  .deep__state___1Zusv{
    width:15%;
  }
  .deep__lastName___34N8Y{
    width:95%;
  }
  .deep__streetAddress___1ZWqA{
    width:95%;
  }
}

@media(max-width: 500px){
  .deep__middleInitial___3JTXx{
    width:14%;
  }
  .deep__firstName___1VtZ_{
    width:74%;
  }
  .deep__city___265WL{
    width:74%;
  }
  .deep__state___1Zusv{
    width:14%;
  }

}


@media(max-width: 430px){
  .deep__middleInitial___3JTXx{
    width:13%;
  }
  .deep__state___1Zusv{
    width:13%;
  }

}



.deep__nav___2zAi_{
  padding: 0;
  margin: 0;
}

.deep__nav___2zAi_ li{
  display:inline-block;
  position: relative;
  width: 50%;
}



.deep__status___3Kkf7{
  margin-bottom: 30px;
}

.deep__childNum___JWGpm{
  font-family: Helvetica neue;
  font-weight:100;
  font-size:30px;
}

.deep__text___1ALiH{
  font-family: Helvetica neue;
  margin-bottom:0px;
  font-size: 20px;
  font-weight: 300;
}

.deep__subtext___147mf{
  font-family: Helvetica neue;
  font-weight: 100;
  margin-top:0px;
  font-size: 16px;
  color: #9a9a9a;
}

@media(max-width:500px){
  .deep__text___1ALiH{
    font-size:16px;
  }
  .deep__subtext___147mf{   
   font-size:14px;
  }
}




.deep__race___-6lBn{
  color:#9a9a9a;
  font-size:13px;
  font-family: Helvetica neue;
  margin-bottom: 15px;
  width:50%;
  display:inline-block;
}

@media(max-width:776px){
  .deep__race___-6lBn{
    width:100%;
  }
}

.deep__column___2V3KN{
  width:33%;
  display:inline-block;
  font-family: Helvetica neue;
  font-size: 13px
}

@media(max-width:500px){
  .deep__column___2V3KN{
    width:50%;
  }
}

.deep__close___2IZC9{
  text-align: right;
  color: #777;
  cursor: pointer;
}

.deep__add_button___tRkIA{
   border:1px solid #12d8ab;
   height:50px;
   width:49%;
   display:inline-block;
   background: transparent;
   margin-bottom: 10px;
   margin-top:10px;
   font-size: 16px;
   color:#12d8ab;
   margin-right:10px;
   border-radius: 4px;
}

.deep__add_button___tRkIA:disabled{
  border: 1px solid #d3d3d3;
  color: #d3d3d3;
  cursor:not-allowed;
}



@media(max-width:776px){
  .deep__add_button___tRkIA{
    width:100%;
  }
}

.deep__checkbox___2b7jF{
  border:2px solid black;
}


.deep__card___a_KHA{
  width: 660px;
  margin:0 auto;
  border-radius: 3px;
  height: auto;
  padding: 16px;
  font-weight: 500;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;
  background: #f4f4f4;
  margin-bottom: 15px;
  padding: 30px
}


.deep__card_icon___1jkDc{
  float: right;
}

@media(max-width:660px){
  .deep__card___a_KHA{
    width:95%;
  }
}




.deep__full_name___3X3O4{
  font-size:30px;
  font-weight: 100;
  font-family: Helvetica Neue;
}


.deep__status___3Kkf7{
  font-size:15px;
  font-weight: 500;
  font-family: Helvetica Neue;
}


.deep__next_step___2m49a{
  background: #12d8ab;
  color:white;
  border-radius: 4px;
  width:49%;
  display:inline-block;
  font-size: 16px;
  height:50px;
  border:1px solid #12d8ab;
}

.deep__next_step3___2ROLX{
  background: #12d8ab;
  color:white;
  border-radius: 4px;
  width:100%;
  display:inline-block;
  font-size: 16px;
  height:50px;
  border:1px solid #12d8ab;
}


@media(max-width:776px){
  .deep__next_step___2m49a{
    width:100%;
  }
}



.deep__next_step___2m49a:disabled{
  border: 1px solid #d3d3d3;
  background:#d3d3d3;
  cursor:not-allowed;
}


.deep__icon___wsOh8{
  float:right;
}

.deep__yes_button___1pdZG{
  width:50%;
  height:50px;
  font-family: Helvetica neue;
  font-size:16px;
  font-weight: 100;
  background:transparent;
  border-radius: 5px 0px 0px 5px;
  border : 1px solid #b1b1b1;
}
.deep__no_button___3EDMw{
  width:50%;
  height:50px;
  font-family: Helvetica neue;
  font-size:16px;
  font-weight: 100;
  background:transparent;
  border-radius: 0px 5px 5px 0px;
  border : 1px solid #b1b1b1;
}




.deep__fieldset___2_zSo{
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  width:600px;
  margin:0 auto;
  padding:30px;
  margin-bottom: 10px;
}

.deep__step_subtitle___gNTIy{
  font-family: Helvetica Neue;
  font-size:16px;
  font-weight: 300;
}





.deep__step_1___247-7{
   width:600px;
   margin: 0 auto;
   margin-bottom:50px;
}

.deep__step_num___2VeL7{
  font-family: Helvetica Neue;
  font-weight: 300;
  font-size:40px;
  text-align:left;
  display:inline-block;
  width:50px;
  vertical-align: top;
}

.deep__step_header___1SnP7{
  display:inline-block;
  font-size:32px;
  font-family: Helvetica Neue;
  font-weight: 100;
  width:275px;
  margin-top: 30px;
}



.deep__household_header___1ltH9{
  text-align: center;
  font-size:20px;
  margin-bottom: 10px;
}





@media(max-width:776px){
  .deep__fieldset___2_zSo{
    width:80%;
  }
}



.deep__enter___2JNUO {
  opacity: 0.01;
  height:100;
  -webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}
.deep__enter___2JNUO.deep__enterActive___1d23S {
  opacity: 1;

}
.deep__leave___1-Sdl {
  opacity: 1;
  -webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}
.deep__leave___1-Sdl.deep__leaveActive___nilN- {
  opacity: 0.01;
}
.deep__appear___2iQYc {
  opacity: 0.01;

}
.deep__appear___2iQYc.deep__appearActive___3Pb57 {
  opacity: 1;
  -webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

